streamlit
pandas
numpy
plotly
plotly-express
matplotlib
scipy
scikit-learn
tensorflow
nltk
transformers
spacy
web3
pycryptodome
numpy-financial
python-dateutil
pandas-datareader
sqlalchemy
psycopg2-binary
pymongo
redis
authlib
pyjwt
cryptography
passlib
requests
fastapi
uvicorn
beautifulsoup4
selenium
stripe
python-dotenv
pytest
hijri-converter
arabic-reshaper
python-bidi
gunicorn
celery
black
flake8
pylint
pre-commit
streamlit-aggrid

streamlit-echarts
